{# empty Twig template #}
{% extends "@FOSUser/layout.html.twig" %}

{% block content %}
    <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies risus et dolor egestas tristique. Morbi vel accumsan sem. Sed nec nunc sollicitudin, ornare elit consectetur, suscipit urna. Etiam ut dui eu eros semper euismod. Quisque hendrerit volutpat felis ac convallis. Curabitur ac mollis orci. Aenean pretium a odio et venenatis. Donec consequat ut massa pretium lacinia. Vivamus at congue ligula. Phasellus fringilla, quam tempor vulputate tempor, nulla urna placerat ligula, pretium tempor purus ligula eget diam. Suspendisse varius massa ac ex hendrerit, nec euismod arcu sodales. Morbi vitae felis tristique, ornare elit ut, malesuada nulla. Nam ultricies venenatis varius.

Sed quis consectetur justo. Aliquam in quam interdum elit gravida consectetur. In sit amet molestie magna. Pellentesque ut volutpat magna. Donec lorem ex, dapibus ut urna sed, pharetra placerat sapien. Sed consequat mauris vel porttitor maximus. Maecenas consequat est sed lorem tristique sollicitudin. Proin vel ligula at ante egestas ornare. Nam enim velit, rutrum vel auctor at, convallis malesuada velit. Fusce a eleifend ipsum. Aliquam ultrices fermentum nulla, ac blandit lorem convallis et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent congue, nisi id volutpat molestie, libero nisi efficitur elit, non pulvinar erat erat at lacus. Aenean non lectus tortor. Mauris interdum erat et odio lobortis, ac vulputate est feugiat.
</div>
    {% endblock content %}
